body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  box-sizing: border-box;
}

a {
  color: #00B7FF;
}

header{
  width: 100%;
}

header img{
  display: inline-block;
  width: 7rem;
}

header h1{
  color: white;
  display: inline-block;
  position: relative;
  top: -2rem;
  font-size: 2rem;
}

.contenedor{
  margin: 8rem;
  background-color: white;
  padding: 4rem;
  border-radius: 10px;
}

.contenedor input{
  width: 20rem;
}

